<section>
    <mat-toolbar id="barra">
    <span href="#">Shop<span id="car">Car</span></span>
    <span class="espacador"></span>
    <span class="barra-item" href="#">Comprar</span>
    <span class="barra-item" href="#">Vender</span>
    <span class="barra-item" href="#">Serviços</span>
    <span class="barra-item" href="#">Ajuda</span>
    </mat-toolbar>
</section>

<div class="cartao">
    <h1 class="titulo"><b>Conte-nos mais sobre o seu carro:</b></h1>

    <div>
        Qual é a quilometragem do seu carro?
        <input type="text" class="campo-texto" placeholder="ex.: 50.000 km">
    </div>
    
    <div>
        Fale um pouco mais sobre os diferenciais do seu carro:
        <input type="text" class="campo-texto" placeholder="ex.: único dono" name="" id="">
    </div>

    <div>
        Por quanto você quer vender o seu carro?
        <input type="text" class="campo-texto" placeholder="ex.: R$ 50.000,00" name="" id="">
    </div>
   
    <mat-grid-list cols="2" rowHeight="100px">

        <mat-grid-tile>

            <input type="button" class="botao-pequeno botao-voltar" value="Voltar" name="" id="">

        </mat-grid-tile>

        <mat-grid-tile>

            <input type="button" class="botao-pequeno" value="Continuar">

        </mat-grid-tile>
    </mat-grid-list>

</div>
