

<div class="cartao">
    <h1 class="titulo"><b>Anúnicos com fotos vendem mais rápido :)<br>Que tal adicioná-las agora?</b></h1>

    <mat-grid-list cols="2">

        <mat-grid-tile>

           <img src="../../assets/img/photo.png" alt="">

        </mat-grid-tile>

        <mat-grid-tile>

            <img src="../../assets/img/photo.png" alt="">

        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="2">

        <mat-grid-tile>

            <img src="../../assets/img/photo.png" alt="">

        </mat-grid-tile>

        <mat-grid-tile>

            <img src="../../assets/img/photo.png" alt="">

        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="100px">

        <mat-grid-tile>

            <input type="button" class="botao-voltar" value="Voltar" name="" id="" onclick="window.location.href='sell-part03'">

        </mat-grid-tile>

        <mat-grid-tile>

            <input type="button" class="botao-pequeno" value="Continuar" onclick="window.location.href='sell-part05'">

        </mat-grid-tile>
    </mat-grid-list>

</div>

