section{
    padding: 40px 200px;
    display: flex;
    justify-content: center;
}

.center{
    margin: 0 auto;
}


.announce-container{
    display: flex;
    gap: 50px;
    height: 100%;
    height: 350px;
    
}

h1{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.part-condition{
    text-transform: lowercase;
    
}

.part-condition::first-letter{
    text-transform: uppercase;
}

.upper-case{
    text-transform: uppercase;
}


.capitalize{
    text-transform: capitalize;
}


.product-image{
    border-radius: 8px;
    height: 350px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h3{
    text-transform: uppercase;
    font-weight: 700;

}

ul li{
    list-style: none;
    color: #7e7e7e;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.car-topic{
    font-weight: 700;
    color: black;
    margin-right: 5px;
}

ul{
    padding: 0;
}

.color-square{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    background-color: red;

}


#car-details{
    height: 100%;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
}


h3, ul{
    margin: 0;
}

#price{
    font-weight: 700;
    font-size: 2rem;
}


button{
    height: 40px;
    width: 100%;
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1rem;

}

.location-icon{
    width: 20px;
}

#cidade{
    display: flex;
    align-items: center;
    color: #7e7e7e;
}

.automaker{
    text-transform: lowercase;
}

.automaker::first-letter{
    text-transform: uppercase;
}
