<section>
  <div class="center">
    <h1>{{ part.name }} - {{ part.description }}</h1>
    <div class="announce-container">
      <div id="image-box">
        <img class="product-image"
             src={{imageUrl}}  onerror="this.src='../../../assets/img/partCatalogImages/default-part-image.svg' "
        />
      </div>
      <div id="car-details">
        <h3>Detalhes do produto:</h3>
        <ul>
          <li><span class="car-topic">Marca: </span><span class="upper-case">{{ part.brand }}</span></li>
          <li><span class="car-topic">Fabricante: </span><span class="automaker">{{ part.automaker }}</span></li>
          <li><span class="car-topic">Quantidade no estoque: </span>{{ announce.amount }}</li>
          <li><span class="car-topic">Tipo de veículo: </span><span class="capitalize">{{ part.vehicle_type }}</span></li>
          <li><span class="car-topic">Condição da peça: </span><span class="part-condition">{{ part.part_condition }}</span></li>
          <li><span class="car-topic">Ano: </span>{{ part.year }}</li>
        </ul>
        <span id="price">R$ {{part.price.toFixed(2)}} </span>
        <span id="cidade">
          <img class="location-icon" src="../../../assets/img/icons/pino-de-localizacao.png" alt="Localização" /> {{ announce.address.localidade }}
        </span>
        <button (click)="addToCart(announceId)">Adicionar ao carrinho</button>
      </div>
    </div>
  </div>
</section>

