
<div class="cart-header">
    <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas" type="button"></button>
    <p class="header-p">Carrinho </p>
</div>
<div class="cart-main" id="card-main">
  <div class="cart-item" *ngFor="let c of cart">
    <mat-grid-list cols="6">
      <mat-grid-tile colspan="2" rowspan="2" class="cart-img">
        <img src="../../../assets/img/cartImages/partMock.png">
<!--          ### ADICIONAR A IMG DEPOIS ^ ###    -->

      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="1" class="item-text">
        <div class="name">{{c.name}}</div>
        <input type="image" (click)="removeFromCart(c)" class="btn-delete" src="../../../assets/img/cartImages/deleteIcon.svg">
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <div class="btn-group-qtd">
          <button type="button" (click)="minusOne(c)">-</button>
          <input type="number" readonly value={{c.reserved_amount}}>
          <button type="button" (click)="plusOne(c)" >+</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <p class="price"> R$ {{getPrice(c).toFixed(2)}}</p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<div class="cart-footer">
  <mat-divider></mat-divider>
  <mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile colspan="1" rowspan="1">
      <p class="footer-text">Subtotal</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <p class="footer-text">R$ {{getSubtotal().toFixed(2)}}</p>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="60px">
    <mat-divider></mat-divider>
    <mat-grid-tile colspan="2" rowspan="1" >
      <p class="footer-text footer-text-light">Digite o Cep:</p>
      <input type="text" class="cep-input">
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <button class="shipping-btn">Calcular frete</button>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile colspan="1" rowspan="1">
      <p class="footer-text">Total</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <p class="footer-text footer-price">R$ {{getTotal().toFixed(2)}}</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <button class="buy-btn">Ir para o pagamento</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
