<section>
    <div class="products-options">
      <span><h2 class="car-option">Carro</h2></span>
      <span><h2 class="part-option">Auto Peças</h2></span>
    </div>
    <div class="main-content">
      <div class="filter-atributes">
        <div class="location filter-option">
          <h3>Localização</h3>
          <input type="text" class="location-input" placeholder="Digite o nome da cidade ou estado" />
        </div>
  
        <div class="car-brand filter-option">
          <h3>Marca do carro</h3>
          <div class="brands-container">
            <div>
              <img
              src="../../../assets/img/partCatalogImages/bosch-logo.svg"
              alt=""
              />
            </div>
            <div>
              <img
                src="../../../assets/img/partCatalogImages/second-logo.svg"
                alt=""
              />
            </div>
            <div>
              <img
              src="../../../assets/img/partCatalogImages/continental-logo.svg"
              alt=""
              />
            </div>
            <div>
              <img
              src="../../../assets/img/partCatalogImages/nytron-logo.svg"
              alt=""
              />
            </div>
            <div>
              <img
              src="../../../assets/img/partCatalogImages/haldex-logo.svg"
              alt=""
              />
            </div>
            <div>
              <img
              src="../../../assets/img/partCatalogImages/freemax-logo.svg"
              alt=""
              />
            </div>
            <div>
              <img
              src="../../../assets/img/partCatalogImages/maxgear-logo.svg"
              alt=""
              />
            </div>
            <div>
              <img
              src="../../../assets/img/partCatalogImages/ymax-logo.svg"
              alt=""
              />
            </div>
            <div>
              <img
              src="../../../assets/img/partCatalogImages/valeo-logo.svg"
              alt=""
              />
            </div>
  
            <div *ngIf="isBrandShow">
              <img
              src="../../../assets/img/partCatalogImages/second-logo.svg"
              alt=""
              />
            </div>
            <div *ngIf="isBrandShow">
              <img
              src="../../../assets/img/partCatalogImages/second-logo.svg"
              alt=""
              />
            </div>
            <div *ngIf="isBrandShow">
              <img
              src="../../../assets/img/partCatalogImages/second-logo.svg"
              alt=""
              />
            </div>
            <div *ngIf="isBrandShow">
              <img
              src="../../../assets/img/partCatalogImages/second-logo.svg"
              alt=""
              />
            </div>
            <div *ngIf="isBrandShow">
              <img
              src="../../../assets/img/partCatalogImages/second-logo.svg"
              alt=""
              />
            </div>
            <div *ngIf="isBrandShow">
              <img
              src="../../../assets/img/partCatalogImages/second-logo.svg"
              alt=""
              />
            </div>
            <div *ngIf="isBrandShow">
              <img
              src="../../../assets/img/partCatalogImages/second-logo.svg"
              alt=""
              />
            </div>
            <div *ngIf="isBrandShow">
              <img
              src="../../../assets/img/partCatalogImages/second-logo.svg"
              alt=""
              />
            </div>
            <div *ngIf="isBrandShow">
              <img
              src="../../../assets/img/partCatalogImages/second-logo.svg"
              alt=""
              />
            </div>
          </div>
          <p class="see-more" (click)="showAllBrands()">Ver todas as marcas</p>
        </div>
  
        <div class="vehicle-type filter-option">
            <h3>Tipo de veículo</h3>
            <div class="checkbox-container">
              <div>
                <input type="checkbox" name="forTruck" id="forTruck" />
                <label for="forTruck">Para caminhões</label>
              </div>
              <div>
                <input type="checkbox" name="colorBlue" id="colorBlue" />
                <label for="colorBlue">Para carros</label>
              </div>
              <div>
                <input type="checkbox" name="colorBege" id="colorBege" />
                <label for="colorBege">Para motos</label>
              </div>
              <div>
                <input type="checkbox" name="colorWhite" id="colorWhite" />
                <label for="colorWhite">Para ônibus</label>
              </div>
              <div *ngIf="isColorShow">
                <input type="checkbox" name="colorGrey" id="colorGrey" />
                <label for="colorGrey">OTR e Agrícola </label>
              </div>
              <div *ngIf="isColorShow">
                <input type="checkbox" name="colorBrown" id="colorBrown" />
                <label for="colorBrown">Para SUVs e caminhonetes</label>
              </div>
              <div *ngIf="isColorShow">
                <input type="checkbox" name="colorBlack" id="colorBlack" />
                <label for="colorBlack">Para Vans</label>
              </div>
              
            </div>
            <p class="see-more" (click)="showAllColors()">Ver todos os tipos</p>
          </div>
  
        <div class="year filter-option">
          <h3>Ano</h3>
          <div class="input-container">
            <div class="year-input">
              <input type="number" name="" id="" placeholder="de" />
              <p class="example">ex.: 2014</p>
            </div>
            <div class="year-input">
              <input type="number" name="" id="" placeholder="até" />
              <p class="example">ex.: 2019</p>
            </div>
          </div>
        </div>
  
        <div class="price filter-option">
          <h3>Preço</h3>
          <div class="input-container">
            <div>
              <input type="number" name="" id="" placeholder="de" />
              <p class="example">ex.: 20.000</p>
            </div>
            <div>
              <input type="number" name="" id="" placeholder="até" />
              <p class="example">ex.: 50.000</p>
            </div>
          </div>
        </div>

  
       
  
        <div class="categories filter-option">
          <h3>Categorias</h3>
          <div class="checkbox-container">
            <div>
              <input
                type="checkbox"
                name="categoryFrontier"
                id="categoryFrontier"
              />
              <label for="categoryFrontier">Armotecedor</label>
            </div>
            <div>
              <input
                type="checkbox"
                name="categoryHatches"
                id="categoryHatches"
              />
              <label for="categoryHatches">Climatização</label>
            </div>
            <div>
              <input
                type="checkbox"
                name="categoryNewCity"
                id="categoryNewCity"
              />
              <label for="categoryNewCity">Correias</label>
            </div>
            <div>
              <input type="checkbox" name="categorySUV" id="categorySUV" />
              <label for="categorySUV">Embreagem</label>
            </div>
            <div *ngIf="isCategoryShow">
              <input type="checkbox" name="categoryJipes" id="categoryJipes" />
              <label for="categoryJipes">Jipes</label>
            </div>
            <div *ngIf="isCategoryShow">
              <input
                type="checkbox"
                name="categoryPicapes"
                id="categoryPicapes"
              />
              <label for="categoryPicapes">Picapes</label>
            </div>
            <div *ngIf="isCategoryShow">
              <input type="checkbox" name="categorySedan" id="categorySedan" />
              <label for="categorySedan">Sedans</label>
            </div>
            <div *ngIf="isCategoryShow">
              <input
                type="checkbox"
                name="categoryOldCars"
                id="categoryOldCars"
              />
              <label for="categoryOldCars">Carros antigos</label>
            </div>
            <div *ngIf="isCategoryShow">
              <input
                type="checkbox"
                name="categorySportCars"
                id="categorySportCars"
              />
              <label for="categorySportCars">Carros esportivos</label>
            </div>
            <div *ngIf="isCategoryShow">
              <input
                type="checkbox"
                name="categoryLuxCars"
                id="categoryLuxCars"
              />
              <label for="categoryLuxCars">Carros de luxo</label>
            </div>
            <div *ngIf="isCategoryShow">
              <input
                type="checkbox"
                name="categoryEletricCars"
                id="categoryEletricCars"
              />
              <label for="categoryEletricCars">Carros elétricos</label>
            </div>
            <div *ngIf="isCategoryShow">
              <input
                type="checkbox"
                name="categoryPcdCars"
                id="categoryPcdCars"
              />
              <label for="categoryPcdCars">Carros para pcd</label>
            </div>
            <div *ngIf="isCategoryShow">
              <input
                type="checkbox"
                name="categoryPopularCars"
                id="categoryPopularCars"
              />
              <label for="categoryPopularCars">Carros populares</label>
            </div>
          </div>
          <p class="see-more" (click)="showAllCategorys()">
            Ver todas as categorias
          </p>
        </div>

        <div class="colors filter-option">
            <h3>Montadora</h3>
            <div class="checkbox-container">
              <div>
                <input type="checkbox" name="colorYellow" id="colorYellow" />
                <label for="colorYellow">BMW</label>
              </div>
              <div>
                <input type="checkbox" name="colorBlue" id="colorBlue" />
                <label for="colorBlue">FORD</label>
              </div>
              <div>
                <input type="checkbox" name="colorBege" id="colorBege" />
                <label for="colorBege">HONDA</label>
              </div>
              <div>
                <input type="checkbox" name="colorWhite" id="colorWhite" />
                <label for="colorWhite">AUDI</label>
              </div>
              <div *ngIf="isColorShow">
                <input type="checkbox" name="colorGrey" id="colorGrey" />
                <label for="colorGrey">Cinza</label>
              </div>
              <div *ngIf="isColorShow">
                <input type="checkbox" name="colorBrown" id="colorBrown" />
                <label for="colorBrown">Marrom</label>
              </div>
              <div *ngIf="isColorShow">
                <input type="checkbox" name="colorBlack" id="colorBlack" />
                <label for="colorBlack">Preto</label>
              </div>
              <div *ngIf="isColorShow">
                <input type="checkbox" name="colorGreen" id="colorGreen" />
                <label for="colorGreen">Verde</label>
              </div>
              <div *ngIf="isColorShow">
                <input type="checkbox" name="colorRed" id="colorRed" />
                <label for="colorRed">Vermelho</label>
              </div>
              <div *ngIf="isColorShow">
                <input type="checkbox" name="colorWine" id="colorWine" />
                <label for="colorWine">Vinho</label>
              </div>
              <div *ngIf="isColorShow">
                <input type="checkbox" name="colorSilver" id="colorSilver" />
                <label for="colorSilver">Prata</label>
              </div>
            </div>
            <p class="see-more" (click)="showAllColors()">Ver todas as montadoras</p>
          </div>
  
        <div class="clean-filter-container">
          <p class="clean-filter">Limpar filtros</p>
        </div>
      </div>
      
      <div class="cars-catalog-right">
        <div class="cards-container">
          <div class="card">
            <img src="../../../assets/img/partCatalogImages/cardImage.svg" alt="" />
            <p class="username">PONTO FORTE VEICULOS</p>
            <p class="car-model">Kit embreagem Chevrolet Corsa Classic 1.099 2016</p>
            <p class="car-year-miles">2016</p>
            <p class="location">SOROCABA</p>
            <p class="price">R$ 323.27</p>
            <p class="price-installment">10 x R$ 32.33/mês</p>
            <button class="see-offer-btn">Ver oferta</button>
          </div>
  
        </div>
      </div>
      
    </div>
  </section>
  