<section>
  <div class="products-options">
    <span><h2 class="car-option" routerLink="/cars-catalog">Carro</h2></span>
    <span><h2 class="part-option">Auto Peças</h2></span>
  </div>
  <div class="main-content">
    <div class="filter-atributes">
      <div class="filter-option">
        <h3>Nome</h3>
        <div class="input-container">
          <input type="text" class="name-input" placeholder="Digite o nome do carro" [(ngModel)]="filters.name"/>
          <div>
            <button (click)="filter()" class="see-offer-btn">Ir</button>
          </div>
        </div>
      </div>
      <div class="filter-option">
        <h3>Localização</h3>
        <div class="input-container">
          <input type="text" class="location-input" placeholder="Digite o nome da cidade ou estado" [(ngModel)]="filters.location"/>
          <div>
            <button (click)="filter()" class="see-offer-btn">Ir</button>
          </div>
        </div>
      </div>

      <div class="car-brand filter-option">
        <h3>Marca da peça</h3>
        <div class="brands-container">
          <div (click)="addFilterOption('brand', 'bosch'); clickEffect($event.target)">
            <img
              src="../../../assets/img/partCatalogImages/bosch-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'seg'); clickEffect($event.target)">
            <img
              src="../../../assets/img/partCatalogImages/seg-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'continental'); clickEffect($event.target)">
            <img
              src="../../../assets/img/partCatalogImages/continental-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'nytron'); clickEffect($event.target)">
            <img
              src="../../../assets/img/partCatalogImages/nytron-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'haldex'); clickEffect($event.target)">
            <img
              src="../../../assets/img/partCatalogImages/haldex-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'freemax'); clickEffect($event.target)">
            <img
              src="../../../assets/img/partCatalogImages/freemax-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'maxgear'); clickEffect($event.target)">
            <img
              src="../../../assets/img/partCatalogImages/maxgear-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'ymax'); clickEffect($event.target)">
            <img
              src="../../../assets/img/partCatalogImages/ymax-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'valeo'); clickEffect($event.target)">
            <img
              src="../../../assets/img/partCatalogImages/valeo-logo.svg"
              alt=""
            />
          </div>

          <div (click)="addFilterOption('brand', 'nakata'); clickEffect($event.target)" *ngIf="isBrandShow">
            <img
              src="../../../assets/img/partCatalogImages/nakata-logo.svg"
              alt=""
            />
          </div>

          <div (click)="addFilterOption('brand', 'wisa'); clickEffect($event.target)" *ngIf="isBrandShow">
            <img
              src="../../../assets/img/partCatalogImages/wisa-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'monroe'); clickEffect($event.target)" *ngIf="isBrandShow">
            <img
              src="../../../assets/img/partCatalogImages/monroe-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'mann'); clickEffect($event.target)" *ngIf="isBrandShow">
            <img
              src="../../../assets/img/partCatalogImages/mann-filter-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'luk'); clickEffect($event.target)" *ngIf="isBrandShow">
            <img
              src="../../../assets/img/partCatalogImages/luk-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'cobreq'); clickEffect($event.target)" *ngIf="isBrandShow">
            <img
              src="../../../assets/img/partCatalogImages/cobreq-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'sabo'); clickEffect($event.target)" *ngIf="isBrandShow">
            <img
              src="../../../assets/img/partCatalogImages/sabo-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'goodyear'); clickEffect($event.target)" *ngIf="isBrandShow">
            <img
              src="../../../assets/img/partCatalogImages/goodyear-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('brand', 'kyb'); clickEffect($event.target)" *ngIf="isBrandShow">
            <img
              src="../../../assets/img/partCatalogImages/kyb-logo.svg"
              alt=""
            />
          </div>
        </div>
        <p class="see-more" (click)="showAllBrands()">Ver todas as marcas</p>
      </div>

      <div class="car-brand filter-option">
        <h3>Montadora</h3>
        <div class="brands-container">
          <div (click)="addFilterOption('automaker', 'MERCEDES_BENZ'); clickEffect($event.target)">
            <input type="image"
              src="../../../assets/img/carCatalogImages/mercedes-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'FIAT'); clickEffect($event.target)">
            <input type="image"
              src="../../../assets/img/carCatalogImages/fiat-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'FORD'); clickEffect($event.target)">
            <input type="image"
              src="../../../assets/img/carCatalogImages/ford-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'MITSUBISHI'); clickEffect($event.target)">
            <input type="image"
              src="../../../assets/img/carCatalogImages/mitsubish-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'HYUNDAI'); clickEffect($event.target)">
            <input type="image"
              src="../../../assets/img/carCatalogImages/hiunday-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'RENAULT'); clickEffect($event.target)">
            <input type="image"
              src="../../../assets/img/carCatalogImages/renault-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'BMW'); clickEffect($event.target)">
            <input type="image"
              src="../../../assets/img/carCatalogImages/bmw-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'CHEVROLET'); clickEffect($event.target)">
            <input type="image"
              src="../../../assets/img/carCatalogImages/chevrolet-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'VOLKSWAGEN'); clickEffect($event.target)">
            <input type="image"
              src="../../../assets/img/carCatalogImages/volkswagem.svg"
              alt=""
            />
          </div>

          <div (click)="addFilterOption('automaker', 'TOYOTA'); clickEffect($event.target)" *ngIf="isBrandShow">
            <input type="image"
              src="../../../assets/img/carCatalogImages/toyota-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'LAND_ROVER'); clickEffect($event.target)" *ngIf="isBrandShow">
            <input type="image"
              src="../../../assets/img/carCatalogImages/landRover-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'AUDI'); clickEffect($event.target)" *ngIf="isBrandShow">
            <input type="image"
              src="../../../assets/img/carCatalogImages/audi-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'PORSCHE'); clickEffect($event.target)" *ngIf="isBrandShow">
            <input type="image"
              src="../../../assets/img/carCatalogImages/porshe-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'VOLVO'); clickEffect($event.target)" *ngIf="isBrandShow">
            <input type="image"
              src="../../../assets/img/carCatalogImages/volvo-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'PEUGEOT'); clickEffect($event.target)" *ngIf="isBrandShow">
            <input type="image"
              src="../../../assets/img/carCatalogImages/peugeot-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'NISSAN'); clickEffect($event.target)" *ngIf="isBrandShow">
            <input type="image"
              src="../../../assets/img/carCatalogImages/nissan-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'JEEP'); clickEffect($event.target)" *ngIf="isBrandShow">
            <input type="image"
              src="../../../assets/img/carCatalogImages/jeep-logo.svg"
              alt=""
            />
          </div>
          <div (click)="addFilterOption('automaker', 'TESLA'); clickEffect($event.target)" *ngIf="isBrandShow">
            <input type="image"
              src="../../../assets/img/carCatalogImages/tesla-logo.svg"
              alt=""
            />
          </div>
        </div>
        <p class="see-more" (click)="showAllBrands()">Ver todas as marcas</p>
      </div>

      <div class="cars filter-option">
        <h3>Condição</h3>
        <div class="checkbox-container-cars">
          <div class="check-label">
            <input type="checkbox" name="newCar" id="newCar" (change)="addFilterOption('part_condition', 'NOVO')"/>
            <label for="newCar">Novo</label>
          </div>
          <div class="check-label">
            <input type="checkbox" name="usedCar" id="usedCar" (change)="addFilterOption('part_condition', 'USADO')"/>
            <label for="usedCar">Seminovo</label>
          </div>
        </div>
      </div>

      <div class="vehicle-type filter-option">
        <h3>Tipo de veículo</h3>
        <div class="checkbox-container">
          <ng-container *ngFor="let vehicle_type of vehicle_types|keyvalue">
            <div *ngIf="+vehicle_type.key<4 || isVehicleTypeShow">
              <input type="checkbox" (change)="addFilterOption('vehicle_type', vehicle_type.value)" name="vahicle_type{{vehicle_type.key}}" id="vahicle_type{{vehicle_type.key}}" />
              <label for="vahicle_type{{vehicle_type.key}}">{{vehicle_type.value}}</label>
            </div>
          </ng-container>
        </div>
        <p class="see-more" (click)="showAllVehicleTypes()">Ver todos os tipos</p>
      </div>

      <div class="year filter-option">
        <h3>Ano</h3>
        <div class="input-container">
          <div class="year-input">
            <input type="number" name="" id="" placeholder="de" [(ngModel)]="filters.year.from" />
            <p class="example">ex.: 2014</p>
          </div>
          <div class="year-input">
            <input type="number" name="" id="" placeholder="até" [(ngModel)]="filters.year.to" />
            <p class="example">ex.: 2019</p>
          </div>
          <div>
            <button (click)="filter()" class="see-offer-btn">Ir</button>
          </div>
        </div>
      </div>

      <div class="price filter-option">
        <h3>Preço</h3>
        <div class="input-container">
          <div>
            <input type="number" name="" id="" placeholder="de" [(ngModel)]="filters.price.from"/>
            <p class="example">ex.: 20.000</p>
          </div>
          <div>
            <input type="number" name="" id="" placeholder="até" [(ngModel)]="filters.price.to"/>
            <p class="example">ex.: 50.000</p>
          </div>
          <div>
            <button (click)="filter()" class="see-offer-btn">Ir</button>
          </div>
        </div>
      </div>

      <div class="categories filter-option">
        <h3>Categorias</h3>
        <div class="checkbox-container">
          <ng-container *ngFor="let category of categories|keyvalue">
            <div *ngIf="+category.key<4 || isCategoryShow">
              <input
                type="checkbox" (change)="addFilterOption('category', category.value)"
                name="category{{category.key}}"
                id="category{{category.key}}"
              />
              <label for="category{{category.key}}">{{category.value}}</label>
            </div>
          </ng-container>
        </div>
        <p class="see-more" (click)="showAllCategories()">
          Ver todas as categorias
        </p>
      </div>

      <div class="clean-filter-container">
        <p (click)="clearAllFilters()" class="clean-filter">Limpar filtros</p>
      </div>
    </div>

    <div class="cars-catalog-right">
      <div class="cards-container">
        <div *ngFor="let ad of ads" class="card">
          <img
            src="https://shopcar-t2.s3.sa-east-1.amazonaws.com/media/img{{ ad.id }}" onerror="this.src='../../../assets/img/partCatalogImages/default-part-image.svg' "
            alt=""
          />
         
          <p class="username">{{ ad.user.name }}</p>
          <p class="car-model">
            {{ getPart(ad.product).name }}
          </p>
          <p class="car-year-miles">{{ ad.product.year }}</p>
          <p class="location">{{ ad.address.localidade }}</p>
          <p class="price">R$ {{ getPart(ad.product).price.toFixed(2) }}</p>
          <p class="price-installment">60 x R$ {{ (getPart(ad.product).price/60).toFixed(2) }}/mês</p>
          <button routerLink="/anuncio-part/{{ad.id}}" class="see-offer-btn">Ver oferta</button>
          <button class="see-offer-btn add-cart-btn" (click)="addToCart(ad.product.id)">Adicionar ao Carrinho</button>
        </div>
      </div>
      <nav aria-label="Navegação de página exemplo">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled':actualPage == 0}">
            <a class="page-link" (click)="paginationAnt('ant')">Anterior</a>
          </li>
          <li *ngFor="let page of arrayOfPages" class="page-item"><a class="page-link" (click)="pagination(page)" style="color: red;">{{page + 1}}</a></li>
          <li class="page-item" [ngClass]="{'disabled':actualPage + 1 == totalOfPages}">
            <a class="page-link" (click)="paginationAnt('ant')">Próximo</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
