

<div class="cartao">
    <h1 class="titulo"><b style="color: black;">Vamos começar o seu anúcio?</b></h1>

    <div>
        <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Escolha uma marca</mat-label>
            <mat-select appearance="fill">
                <mat-option>Placeholder</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Escolha um modelo</mat-label>
            <mat-select appearance="fill">
                <mat-option>Placeholder</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-grid-list cols="2" rowHeight="100px">

        <mat-grid-tile>

            <mat-form-field appearance="fill" class="dropdown-pequeno">
                <mat-label>Escolha uma cor</mat-label>
                <mat-select appearance="fill">
                    <mat-option>Placeholder</mat-option>
                </mat-select>
            </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile>

            <mat-form-field appearance="fill" class="dropdown-pequeno">
                <mat-label>Escolha um ano</mat-label>
                <mat-select appearance="fill">
                    <mat-option>Placeholder</mat-option>
                </mat-select>
            </mat-form-field>

        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="100px">

        <mat-grid-tile>

            <input type="button" class="botao-voltar" value="Voltar" name="" id="">

        </mat-grid-tile>

        <mat-grid-tile>

            <input type="button" class="botao-pequeno" value="Continuar">

        </mat-grid-tile>
    </mat-grid-list>
    
</div>
