<section>
    <mat-toolbar id="barra">
    <span href="#">Shop<span id="car">Car</span></span>
    <span class="espacador"></span>
    <span class="barra-item" href="#">Comprar</span>
    <span class="barra-item" href="#">Vender</span>
    <span class="barra-item" href="#">Serviços</span>
    <span class="barra-item" href="#">Ajuda</span>
    </mat-toolbar>
</section>

<div class="cartao">
    <h1 class="titulo"><b style="color: black;">Vamos começar o seu anúcio?</b></h1>

    <div>
        <input type="text" class="campo-texto" placeholder="Informe uma marca">
    </div>
    
    <div>
        <input type="text" class="campo-texto" placeholder="Informe um modelo">
    </div>
    
    <mat-grid-list cols="2" rowHeight="100px">

        <mat-grid-tile>
            <input type="text" class="campo-texto campo-texto-pequeno" placeholder="Informe uma cor">
        </mat-grid-tile>
    
        <mat-grid-tile>
            <input type="date" class="campo-texto campo-texto-pequeno" placeholder="Informe um ano">
        </mat-grid-tile>

    </mat-grid-list>
    
    <mat-grid-list cols="2" rowHeight="100px">

        <mat-grid-tile>

            <input type="button" class="botao-voltar" value="Voltar" name="" id="">

        </mat-grid-tile>

        <mat-grid-tile>

            <input type="button" class="botao-pequeno" value="Continuar">

        </mat-grid-tile>
    </mat-grid-list>

</div>
