
<div class="cartao">
    <h1 class="titulo"><b>Há algo que você queira acrescentar?</b></h1>

    <div class="opcao-espaco">
        <b class="opcao">Não aceito trocas +</b>
    </div>

    <div class="opcao-espaco">
        <b class="opcao">Veículo financiado +</b>
    </div>

    <div class="opcao-espaco">
        <b class="opcao">IPVA pago +</b>
    </div>

    <div class="opcao-espaco">
        <b class="opcao">Garantia de fábrica +</b>
    </div>

    <div class="opcao-espaco">
        <b class="opcao">Modificações especiais +</b>
    </div>

    <div class="opcao-espaco">
        <b class="opcao">Licenciado +</b>
    </div>

    <mat-grid-list cols="2" rowHeight="100px">

        <mat-grid-tile>

            <input type="button" class="botao-voltar" value="Voltar" name="" id="" onclick="window.location.href='sell-car03'">

        </mat-grid-tile>

        <mat-grid-tile>

            <input type="button" class="botao-pequeno" value="Continuar">

        </mat-grid-tile>
    </mat-grid-list>
    
</div>
