
  <section class="slider-container">
    <div class="slider-banner-buyCar slider-banner">
      <div class="slider-content-container">
        <h2 class="subtitle">
          Carros e peças com as melhores condições do mercado!
        </h2>
        <p class="text">
          Não perca a chance de trocar de carro! Somente neste final de semana
          você compra carro com zero de entrada!
        </p>
        <button
          class="banner-btn see-car-catalog-btn"
          (click)="navigation('cars-catalog')"
        >
          Veja o catálogo
        </button>
        <img
          class="jeep-image"
          src="../../../assets/img/homeImages/jeep-red-car.svg"
          alt=""
        />
      </div>
    </div>

    <div class="slider-banner-announce slider-banner">
      <div class="slider-content-container">
        <h2 class="subtitle">Troque ou venda seu carro em menos de 24 horas</h2>
        <p class="text">
          Não perca a chance de trocar de carro! Somente neste final de semana
          você compra carro com zero de entrada!
        </p>
        <button class="banner-btn" (click)="navigation('sell-car01')">
          Eu quero vender
        </button>
      </div>
    </div>

    <div class="slider-banner-parts slider-banner">
      <div class="slider-content-container">
        <h2 class="subtitle" id="h2-banner-parts">
          Compre Auto Peças pelo melhor preço
        </h2>
        <p class="text" id="p-banner-parts">
          Não perca a chance de trocar de carro! Somente neste final de semana
          você compra carro com zero de entrada!
        </p>
        <button class="banner-btn" id="btn-banner-parts">
          Veja o catálogo
        </button>

        <img
          class="parts-image"
          src="../../../assets/img/homeImages/parts-banner-image.svg"
          alt=""
        />
      </div>
    </div>
  </section>

  <div class="test" >
  <div class="dots-container" style="position: absolute;">
    <span class="dot1" (click)="handleDot1Click()"></span>
    <span class="dot2" (click)="handleDot2Click()"></span>
    <span class="dot3" (click)="handleDot3Click()"></span>
  </div>
</div>

<div class="search-bar">
  <div class="links-container">
    <a href="#" class="buy-car">Comprar carro</a>
    <a href="#" class="buy-part">Comprar peça</a>
    <a href="#" class="sell-car">Vender carro</a>
    <a href="#" class="sell-part">Vender peça</a>
  </div>
  <div class="search-container">
    <input
      class="search-input"
      type="text"
      placeholder="Digite a marca ou modelo do carro"
    />
    <button class="see-offers">Veja as ofertas(10)</button>
  </div>
</div>

<section class="categories">
  <h2>Categorias</h2>
  <div class="category-container">
    <div class="category adventurous">
      <h3>Adventurous</h3>
      <div class="dark-bg"></div>
    </div>
    <div class="category hatch">
      <h3>Hatch</h3>
      <div class="dark-bg"></div>
    </div>
    <div class="category sedan">
      <h3>Sedan</h3>
      <div class="dark-bg"></div>
    </div>
    <div class="category familiar">
      <h3>Familiar</h3>
      <div class="dark-bg"></div>
    </div>
  </div>
</section>

<section class="announce-advertise-section">
  <div class="announce-advertise">
    <h2>Anuncie e venda seu carro pelo melhor preço!</h2>
    <button class="banner-btn know-more-btn">Saiba mais</button>
    <img src="../../../assets/img/homeImages/man-advertise-image.svg" alt="" />
    <span class="circle-left"></span>
    <span class="circle-right"></span>
  </div>
</section>

<section class="most-searched-cars">
  <h2>Os anúncios mais procurados</h2>
  <div class="cards-container">
    <div class="card">
      <img src="../../../assets/img/carCatalogImages/card-car.svg" alt="" />
      <p class="username">PONTO FORTE VEICULOS</p>
      <p class="car-model">
        Nissan Frontier Se Attack Cd 4x4<br />
        2.5 Tb Diesel
      </p>
      <p class="car-year-miles">2016/2016 - 181.000KM</p>
      <p class="location">SOROCABA</p>
      <p class="price">R$ 140.900</p>
      <p class="price-installment">60 x R$ 5.081,25/mês</p>
      <button class="see-offer-btn">Ver oferta</button>
    </div>

    <div class="card">
      <img src="../../../assets/img/carCatalogImages/card-car.svg" alt="" />
      <p class="username">PONTO FORTE VEICULOS</p>
      <p class="car-model">
        Nissan Frontier Se Attack Cd 4x4<br />
        2.5 Tb Diesel
      </p>
      <p class="car-year-miles">2016/2016 - 181.000KM</p>
      <p class="location">SOROCABA</p>
      <p class="price">R$ 140.900</p>
      <p class="price-installment">60 x R$ 5.081,25/mês</p>
      <button class="see-offer-btn">Ver oferta</button>
    </div>

    <div class="card">
      <img src="../../../assets/img/carCatalogImages/card-car.svg" alt="" />
      <p class="username">PONTO FORTE VEICULOS</p>
      <p class="car-model">
        Nissan Frontier Se Attack Cd 4x4<br />
        2.5 Tb Diesel
      </p>
      <p class="car-year-miles">2016/2016 - 181.000KM</p>
      <p class="location">SOROCABA</p>
      <p class="price">R$ 140.900</p>
      <p class="price-installment">60 x R$ 5.081,25/mês</p>
      <button class="see-offer-btn">Ver oferta</button>
    </div>
  </div>
</section>

<section class="mobile-devices-soon">
  <h2>Em breve disponível para dispositivos móveis</h2>
  <div class="content-container">
    <div class="smart-phones-images">
      <img
        class="smartphone1"
        src="../../../assets/img/homeImages/smart-phone.svg"
        alt=""
      />
      <img
        class="smartphone2"
        src="../../../assets/img/homeImages/smart-phone.svg"
        alt=""
      />
    </div>
    <div class="content-right">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <div class="platforms-container">
        <div>
          <img
            class="google-play"
            src="../../../assets/img/homeImages/google-play.svg"
            alt=""
          />
          <img
            class="apple-store"
            src="../../../assets/img/homeImages/apple-store2.svg"
            alt=""
          />
        </div>
        <img src="../../../assets/img/homeImages/qr-code.svg" alt="" />
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="footer-top">
    <div>
      <p>Comprar</p>
      <ul>
        <li><a href="">Carros</a></li>
        <li><a href="">Peças</a></li>
      </ul>
    </div>

    <div>
      <p>Vender</p>
      <ul>
        <li><a href="">Carros</a></li>
        <li><a href="">Peças</a></li>
      </ul>
    </div>

    <div>
      <p>Ajuda e Suporte</p>
      <ul>
        <li><a href="">Meus anúncios</a></li>
        <li><a href="">Meu carrinho</a></li>
      </ul>
    </div>

    <div>
      <p>Nossos desenvolvedores</p>
      <ul>
        <li><a href="">Douglas Carneiro</a></li>
        <li><a href="">Eula Paula</a></li>
        <li><a href="">João Marcelo</a></li>
        <li><a href="">Mario Gabriel</a></li>
        <li><a href="">Martim Palmeira</a></li>
        <li><a href="">Matheus Petters</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>All rights reserved 2022 @ShopCar</p>
  </div>
</footer>
