
<div class="cartao login">
    <h1 class="titulo"><b>Confirme a localização do anúncio:</b></h1>

    <form [formGroup]="formulario"></form>
    <input type="text" class="campo-texto" placeholder="CEP">
    <input type="text" class="campo-texto" placeholder="Rua">
    <input type="text" class="campo-texto" placeholder="Número">
    <input type="text" class="campo-texto" placeholder="Bairro">
    <input type="text" class="campo-texto" placeholder="Cidade">

    <mat-grid-list cols="2" rowHeight="100px">

        <mat-grid-tile>

            <input type="button" class="botao-voltar" value="Voltar" name="" id="">

        </mat-grid-tile>

        <mat-grid-tile>

            <input type="button" class="botao-pequeno" value="Continuar">

        </mat-grid-tile>
    </mat-grid-list>
    
</div>
