<div class="container">
    <form [formGroup]="passwordHolder">
        <div class="title">
            <h1>Alterar senha</h1>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Senha antiga</mat-label>
            <input matInput formControlName="oldPassword" type="password" required>
        </mat-form-field>
        <div *ngIf="sent && this.passwordHolder.controls.oldPassword.errors?.['required']" class="warning-form">A senha
            deve estar preenchida!</div>

        <mat-form-field appearance="outline">
            <mat-label>Nova senha</mat-label>
            <input matInput formControlName="password" type="password" required>
        </mat-form-field>
        <div *ngIf="sent && this.passwordHolder.controls.password.errors?.['required']" class="warning-form">A senha
            deve estar preenchida!</div>
        <div *ngIf="sent && this.passwordHolder.controls.password.errors?.['pattern']" class="warning-form">A senha deve
            ter entre 6 e 15 caracteres.
            Ao menos uma letra maiúscula e minúscula. Ao menos um número e caractere especial.</div>
        <mat-form-field appearance="outline">

            <mat-label>Confirmação de senha</mat-label>
            <input matInput formControlName="confirmPassword" type="password" required>
        </mat-form-field>
        <div *ngIf="sent && this.passwordHolder.controls.confirmPassword.errors?.['required']" class="warning-form">A
            confirmação de senha deve estar preenchida!</div>
    </form>
    <div class="create-account">
        <button (click)="changePassword()">Mudar senha</button>
    </div>
</div>