<footer>
    <div class="footer-top">
      <div>
        <p>Comprar</p>
        <ul>
          <li><a routerLink="cars-catalog">Carros</a></li>
          <li><a routerLink="parts-catalog">Peças</a></li>
        </ul>
      </div>
  
      <div>
        <p>Vender</p>
        <ul>
          <li><a routerLink="sell-car02">Carros</a></li>
          <li><a routerLink="sell-part02">Peças</a></li>
        </ul>
      </div>
  
      <div>
        <p>Ajuda e Suporte</p>
        <ul>
          <li *ngIf="isLogged();"><a routerLink="profile">Meus anúncios</a></li>
          <li><a data-bs-toggle="offcanvas" href="#cartElement">Meu carrinho</a></li>
        </ul>
      </div>
  
      <div>
        <p>Nossos desenvolvedores</p>
        <ul>
          <li><a href=""  >Douglas Carneiro</a></li>
          <li><a href="">Eula Paula</a></li>
          <li><a href="">João Marcelo</a></li>
          <li><a href="">Mario Gabriel</a></li>
          <li><a href="">Martim Palmeira</a></li>
          <li><a href="">Matheus Petters</a></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>All rights reserved 2022 @ShopCar</p>
    </div>
  </footer>
