#barra {
    background-color: rgba(246, 24, 77, 1);
    color: white;
}

#car {
    color: rgba(255, 178, 84, 1);
}

#botoes {
    text-align: left;
}

.espacador {
    flex: 1 1 auto;
}

.barra-item {
    margin-left: 10px;
    margin-right: 10px;
}

.barra-item:hover {
    text-decoration: underline;
}

body {
    background-color: rgba(246, 24, 77, 1);
}

.cartao {
    text-align: center;
}

h1 {
    color: white;
    font-size: 50px;
    margin: 30px;
}

h2 {
    color: white;
    font-size: 30px;
    margin: 50px auto;
}

.dados {
    margin-top: 100px;
}