

<div class="card font-main">

    <!-- <div class="cartao">
        <mat-grid-list rowHeight="100px" style="text-align: center;" cols="3">

            <mat-grid-tile class="circuloClaro">
                1<br>Sobre o carro
            </mat-grid-tile>                    
            <mat-grid-tile class="circuloClaro">
                2<br>Sobre você
            </mat-grid-tile>
            <mat-grid-tile class="circuloClaro">
                3<br>Fim
            </mat-grid-tile>
    
        </mat-grid-list>
    </div> -->
    
    
    <div class="cartao login">

        <h1 class="titulo" style="color: gray;">Login</h1>
    
        <div>
            <input type="email" class="campo-texto" placeholder="E-mail">
        </div>
        <div>
            <input type="password" class="campo-texto" placeholder="Senha">
        </div>
        
        <div class="texto" style="margin: 20px;">
            <b class="color-main">Esqueceu a senha?</b>
        </div>
        
        <input type="button" class="botao" value="Enviar" onclick="window.location.href='sell-part02'">

     
        <div style="color: gray; margin: 20px;">
            - ou -
        </div>

        <mat-grid-list cols="2" rowHeight="75px" >
            <mat-grid-tile>
                <img src="../../assets/img/google.png" alt="">
            </mat-grid-tile>
            <mat-grid-tile>
                <img src="../../assets/img/facebook.png" alt="">
            </mat-grid-tile>
        </mat-grid-list>

        <div class="texto" style="margin: 20px;">
            Não tem uma conta? <b class="color-main">Crie uma</b>
        </div>
    </div>
</div>
