#barra {
    background-color: rgba(246, 24, 77, 1);
    color: white;
}

#car {
    color: rgba(255, 178, 84, 1);
}

#botoes {
    text-align: left;
}

.espacador {
    flex: 1 1 auto;
}

.barra-item {
    margin-left: 10px;
    margin-right: 10px;
}

.barra-item:hover {
    text-decoration: underline;
}

.titulo {
    /* text-align: left; */
    margin-bottom: 30px;
    font-weight: bold;
}

.fileira {
    color: gray;
}

.circuloEscuro {
    background-color: white;
    border: 10px solid gray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 20px auto;
    color: gray;
    font-weight: bold;
    font-size: medium;
}

.circuloClaro {
    background-color: white;
    border: 10px solid lightgray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 20px auto;
    color: lightgrey;
    font-weight: bold;
    font-size: medium;
}

.cartao {
    width: 500px;
    padding: 30px;
    margin: 100px auto; 
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.login {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.campo {
    margin-top: 20px;
    margin-bottom: 40px;
    color: gray;
    width: 500px;
}

.campo-texto {
    margin-top: 20px;
    width: 400px;
    height: 30px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid black;
    border-radius: 0px;
}

b {
    color: rgba(246, 24, 77, 1);
}

.botao {
    width: 400px;
    height: 50px;
    background-color: rgba(246, 24, 77, 1);
    color: white;
    border-width: 0px;
    border-radius: 5px;
}

.botao:hover {
    background-color: rgba(246, 24, 77, 0.7);
}