<header>
    <nav>
        <h1 (click)="naviBar('')">Shop<span class="tertiary-color">Car</span></h1> 
        <ul>
            <li><a (click)="naviBar('cars-catalog')">Comprar</a></li>
            <li><a (click)="naviBar('sell-car01')">Vender</a></li>
            <li><a><img src="../../../assets/img/navbarImages/shop-cart-icon.svg" alt="">Carrinho</a></li>
            <li><a><img src="../../../assets/img/navbarImages/profile-icon.svg" alt="" (click)="naviBar('login')">Login ou Cadastre-se</a></li>
        </ul> 
    </nav>
</header>
