<header>
    <nav>
        <h1>Shop<span class="tertiary-color">Car</span></h1>
        <ul>
            <li><a href="">Comprar</a></li>
            <li><a href="">Vender</a></li>
            <li><a href=""><img src="../../../assets/img/navbarImages/shop-cart-icon.svg" alt="">Carrinho</a></li>
            <li><a href=""><img src="../../../assets/img/navbarImages/profile-icon.svg" alt="">Login ou Cadastre-se</a></li>
        </ul>
    </nav>
</header>
<app-carrinho></app-carrinho>
<!-- aqui vai ter que mexer c input e output -->
