
<div class="cartao">
    <h1 class="titulo"><b>Confirme a localização do anúncio:</b></h1>

    <div class="container">

    
    <mat-form-field appearance="fill">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="Ex. Novo, unico dono.." [(ngModel)]="announce.adress.cep" (change)="atualizarCep()">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Rua</mat-label>
        <input matInput placeholder="Ex. Novo, unico dono.." [(ngModel)]="announce.adress.logradouro">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Bairro</mat-label>
        <input matInput [(ngModel)]="announce.adress.bairro">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Ex. Rio de Janeiro, São Paulo..." [(ngModel)]="announce.adress.localidade">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Ex. BA, SP , RJ" [(ngModel)]="announce.adress.uf">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Digite um complemento do seu agrado</mat-label>
        <input matInput [(ngModel)]="announce.adress.complemento">
    </mat-form-field>

    </div>

    <mat-grid-list cols="2" rowHeight="100px">

        <mat-grid-tile>

            <input type="button" class="botao-voltar" value="Voltar" name="" id="" onclick="window.location.href='sell-car05'">

        </mat-grid-tile>

        <mat-grid-tile>

            <input type="button" class="botao-pequeno" value="Continuar" (click)="continue()">

        </mat-grid-tile>
    </mat-grid-list>
    
</div>
