<section>
  <div class="center">
    <h1>{{ car.model }} {{ car.description }}</h1>
    <div class="announce-container">
      <div id="image-box">
        <img class="product-image"
          src="https://1.bp.blogspot.com/-kxQh4bambxk/YUzGF0el5uI/AAAAAAAA3rU/5Ar5YmAjnWMoFIeDHiEWJyc1a8Of6orGACLcBGAsYHQ/s2048/RS%2Be-tron%2BGT%2B2.jpg"
        />
      </div>
      <div id="car-details">
        <h3>Detalhes do carro</h3>
        <ul>
          <li><span class="car-topic">Marca: </span>{{ car.automaker }}</li>
          <li><span class="car-topic">Modelo: </span>{{ car.model }}</li>
          <li><span class="car-topic">Ano: </span>{{ car.year }}</li>
          <li><span class="car-topic">Km: </span>{{ car.quilometragem }}</li>
          <li><span class="car-topic">Cor: </span><span class="color-square"></span></li>
        </ul>
        <span id="price">R$ {{car.price | number:'1.2-2'}} </span>
        <span id="cidade">
          <img class="location-icon" src="../../../assets/img/icons/pino-de-localizacao.png" alt="Localização" /> {{ announce.address.localidade }}
        </span>
        <button>Fale com vendedor</button>
      </div>
    </div>
  </div>
  <div class="comment">
    <div class="comment-title">
      <h4>Eula Paula Pereira</h4><p>05 de Mar, 2022, 09:58 am</p>
    </div>
    <div class="comment-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
         incididunt ut labore et dolore magna aliqua
      </p>
    <div class="comment-btn">
      <button>Responder</button>
    </div>
    </div>
  </div>
  <div class="add-comment">
      <textarea [(ngModel)]="comment" name="" id="comment-input" cols="30" rows="10" placeholder="Digite seu comentário aqui"></textarea>
    <div>
      <button (click)="addComment()">Adicionar comentário</button>
    </div>
  </div>
</section>
