<section>
  <div class="center">
    <h1>{{ car.model }} {{ car.description }}</h1>
    <div class="announce-container">
      <div id="image-box">
        <img class="product-image"
          src= {{imageUrl}}
        />
      </div>
      <div id="car-details">
        <h3>Detalhes do carro</h3>
        <ul>
          <li><span class="car-topic">Marca: </span>{{ car.automaker }}</li>
          <li><span class="car-topic">Modelo: </span>{{ car.model }}</li>
          <li><span class="car-topic">Ano: </span>{{ car.year }}</li>
          <li><span class="car-topic">Km: </span>{{ car.quilometragem }}</li>
          <li><span class="car-topic">Cor: </span>{{ car.color }}</li>
        </ul>
        <span id="price">R$ {{car.price | number:'1.2-2'}} </span>
        <span id="cidade">
          <img class="location-icon" src="../../../assets/img/icons/pino-de-localizacao.png" alt="Localização" /> {{ announce.address.localidade }}
        </span>

        <div *ngIf="haveToken()">
          <button data-bs-toggle="modal" data-bs-target="#sellerInfo">Fale com vendedor</button>
          <div class="modal fade" id="sellerInfo" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Dados do vendedor:</h3>
                </div>
                <div class="modal-body">
                <h4>Nome: {{announce.user.name}}</h4>
                <h4>Telefone: {{announce.user.fone}}</h4>
                <h4>E-mail: {{announce.user.email}}</h4>
                <button data-bs-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div *ngFor="let comment of comments" class="comment">
    <div class="comment-title">
      <div class="title">
        <h4>{{comment.user?.name}}</h4><p>{{comment.time |  date : 'dd/MM/yyyy - HH:mm'}}</p>
      </div>
      <div *ngIf="comment.user?.id == id"><img src="../../../assets/img/trash.png" class="delete-icon" data-bs-toggle="modal" data-bs-target="#delete-comment"></div>
      <div class="modal fade" id="delete-comment" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header title">
              <h4>Tem certeza que deseja excluir o comentário?</h4>
            </div>
            <div class="modal-footer d-flex">
              <button type="button" (click)="deleteComment(comment.id)">Sim</button>
              <button data-bs-dismiss="modal" class="btn-cancel">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment-content">
      <p>{{comment.message}}</p>
    </div>
    <div class="comment-answer">
      <div *ngFor="let message of comment.commentAnswerDtos" class="comment-answer-title">
        <h5>{{message.user?.name}}</h5><p>{{message.timeCreated | date: 'dd/MM/yyyy - HH:mm'}}</p>
        <div  class="comment-answer-content">
          <p>{{message.message}}</p>
        </div>
      </div>
      <textarea *ngIf="isLogged" id="comment-answer" placeholder="Responder" rows="5"></textarea>
      <div>
        <button *ngIf="isLogged" (click)="addCommentAnswer(comment.id)">Responder</button>
      </div>
    </div>
  </div>
  <div *ngIf="isLogged" class="add-comment">
      <textarea [(ngModel)]="comment" name="" id="comment-input" cols="30" rows="10" placeholder="Digite seu comentário aqui"></textarea>
    <div>
      <button (click)="addComment()">Adicionar comentário</button>
    </div>
  </div>
</section>
