<section>

    <h1>{{car.name}} {{car.description}}</h1>
    <div>
        <div id="image-box">
            <img height="500px" width="500px" src="https://1.bp.blogspot.com/-kxQh4bambxk/YUzGF0el5uI/AAAAAAAA3rU/5Ar5YmAjnWMoFIeDHiEWJyc1a8Of6orGACLcBGAsYHQ/s2048/RS%2Be-tron%2BGT%2B2.jpg">
        </div>
        <div id="car-details">
            <h3> O que você precisa saber:</h3>
            <ul>
                <li>Marca : {{car.automaker}}</li>
                <li>Modelo : {{car.model}}</li>
                <li>Cor : {{car.color}}</li>
                <li>Ano : {{car.year}}</li>
                <li>Km : {{car.quilometragem}}</li>
            </ul>
            <span id="price">  </span>
            <span id="cidade"> <img src="" alt="Localização"> {{announce.address.localidade}} </span>
            <button> Fale com vendedor </button>
        </div>
    </div>

</section>