
<body>
    <div *ngIf="estaLogado">
        <div class="cartao" style="background-color: rgba(246, 24, 77, 1);">
            <img src="../../assets/img/user.png" alt="" height="150px">
        
            <h1 class="nome">{{user.name}}</h1>
    
            <div class="dados">
                <h2>Celular: {{user.fone}}</h2>
                <h2>E-mail: {{user.email}}</h2>
                <h2>Localização: {{user.address?.localidade + " - " + user.address?.uf}}</h2>
            </div>
        </div>
    
        <h1 class="titulo-anuncios">Seus anúncios</h1>
    
        <div class="cartao card anuncio" id="anuncio" *ngFor="let a of user.announcementList;">
            <b style="text-align: left;">{{a.product.name}} - {{a.product.description}}</b><br>
            <b style="text-align: left;">{{a.product.price}} - {{a.product.model}}</b><br>
    
            <mat-grid-list cols="2" rowHeight="300px">
                <input type="hidden" name="" id="" value="{{a.id}}">
    
                <mat-grid-tile class="card">
                    <img height="300px" width="200px" src="https://shopcar-t2.s3.sa-east-1.amazonaws.com/media/img{{a.id}}">
                </mat-grid-tile>
    
                <mat-grid-tile class="icones">
                    <img src="../../../assets/img/lapis.png" alt="" height="20px" routerLink="/editar/{{a.id}}">
                    <img src="../../../assets/img/lixo (2).png" alt="" height="20px" (click)="remover(a.id)">
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>

    <div *ngIf="!estaLogado" class="mensagem">
        <b>Você precisa entrar em uma conta para visualizar o perfil de usuário :(</b>
    </div>
</body>
