#barra {
    background-color: rgba(246, 24, 77, 1);
    color: white;
}

#car {
    color: rgba(255, 178, 84, 1);
}

#botoes {
    text-align: left;
}

.espacador {
    flex: 1 1 auto;
}

.barra-item {
    margin-left: 10px;
    margin-right: 10px;
}

.barra-item:hover {
    text-decoration: underline;
}

.cartao {
    text-align: center;
    padding: 30px;
}

.anuncio {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo-anuncios {
    text-align: center;
    padding: 30px;
}

.nome {
    color: white;
    font-size: 50px;
    margin: 30px;
}

img {
    margin: 10px;
}

h2 {
    color: white;
    font-size: 30px;
    margin: 50px auto;
}

.dados {
    margin-top: 100px;
}

.descricao {
    text-align: left;
    margin-left: 30px;
}

.icones {
    text-align: right;
    vertical-align: top;
}

.mensagem {
    text-align: center;
    margin: 50px;
}


.cards-container{
    margin: 0 auto;
    padding: 30px;
    /* width: 70vw; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    
}

.card{ 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 25%);
    padding: 20px;
    max-width: 250px;
    height: 425px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .car-model{
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.card .car-year-miles, .card .location{
    color: rgb(126, 126, 126);
    font-size: 0.8rem;
}

.card .car-year-miles, .location{
    margin-bottom: 5px;
}

.card .location{
    margin-bottom: 8px;
}

.card .price{
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.card .price-installment{
    font-weight: 700;
    color: rgb(126, 126, 126);
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.see-offer-btn{
    min-width: 40px;
    background-color: var(--primary);
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    height: 35px;
    cursor: pointer;
}

.see-offer-btn:hover{
    opacity: 0.8;
}

.card .see-offer-btn{
    width: 100%;
}

.delete-icon {
    width: 20px;
    height: 20px;
}

.delete-icon:hover{
    opacity: 0.7;
    cursor: pointer;
}