@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.container {
    margin: 60px 80px 100px 80px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container mat-form-field {
    width: 436px;
    margin-top: 10px;
}

.create-account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.already-has-account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

button {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
}

button:disabled {
    background-color: rgba(246, 24, 77, 0.7);
    border: 0.5px solid var(--primary);
    color: white;
    border-color: var(--primary);
} 

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 30px;
    color:rgba(156, 156, 156, 1);
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color:rgba(156, 156, 156, 1);
}

a {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: var(--primary);
    text-decoration: none;
}

.warning-form {
    color: red;
    justify-content: left;
    margin-top: 0px;
    align-content: flex-start;
    font-size: 12px;
}