<div class="container">
    <form [formGroup]="register"> 
        <div class="title">
            <h1>Criar conta</h1>
        </div>
            <mat-form-field appearance="outline">
                <mat-label>Nome completo</mat-label>
                <input matInput formControlName="fullname" type="text" required>
            </mat-form-field>
            <div *ngIf="sent && this.register.controls.fullname.errors?.['required']" class="warning-form">O nome deve estar preenchido!</div>
            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input (change)="verifyEmail()" matInput formControlName="email" type="email" required>
            </mat-form-field>
            <div *ngIf="sent && this.register.controls.email.errors?.['required']" class="warning-form">O e-mail deve estar preenchido!</div>
            <div *ngIf="emailExist" class="warning-form">O e-mail já esta cadastrado!</div>
            <div *ngIf="sent && this.register.controls.email.errors?.['email']" class="warning-form">E-mail inválido!</div>
            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput formControlName="password" type="password" required>
            </mat-form-field>
            <div *ngIf="sent && this.register.controls.password.errors?.['required']" class="warning-form">A senha deve estar preenchida!</div>
            <div *ngIf="sent && this.register.controls.password.errors?.['pattern']" class="warning-form">A senha deve ter entre 6 e 15 caracteres.
                 Ao menos uma letra maiúscula e minúscula. Ao menos um número e caractere especial.</div>
            <mat-form-field appearance="outline">
                <mat-label>Confirmação de senha</mat-label>
                <input matInput formControlName="confirmPassword" type="password" required>
            </mat-form-field>
            <div *ngIf="sent && this.register.controls.confirmPassword.errors?.['required']" class="warning-form">A confirmação de senha deve estar preenchida!</div>
            <mat-form-field appearance="outline">
                <mat-label>CPF</mat-label>
                <input matInput placeholder="000.000.000-00" formControlName="cpf" type="text" required>
            </mat-form-field>
            <div *ngIf="sent && this.register.controls.cpf.errors?.['required']" class="warning-form">O CPF deve estar preenchido!</div>
            <div *ngIf="sent && this.register.controls.cpf.errors?.['pattern']" class="warning-form">CPF inválido!!</div>
                      
            <mat-form-field appearance="outline">
                <mat-label>Data de nascimento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthDate" required>
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div *ngIf="sent && this.register.controls.birthDate.errors?.['required']" class="warning-form">A data de nascimento deve estar preenchida!</div>
            <mat-form-field appearance="outline">
                <mat-label>Celular</mat-label>
                <input matInput type="text" formControlName="cellphone" required placeholder="(00) 00000-0000">
            </mat-form-field>
            <div *ngIf="sent && this.register.controls.cellphone.errors?.['required']" class="warning-form">O número de celular deve estar preenchido!</div>
        <div class="title">
            <h1>Endereço</h1>
        </div>
            <mat-form-field appearance="outline">
                <mat-label>CEP</mat-label>
                <input matInput type="text" formControlName="zipCode" [(ngModel)]="address.cep" (change)="fetchCep()" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Rua</mat-label>
                <input matInput type="text" formControlName="street" [(ngModel)]="address.logradouro">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Número</mat-label>
                <input matInput type="text" formControlName="addressNumber">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Cidade</mat-label>
                <input matInput type="text" formControlName="city" [(ngModel)]="address.localidade">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Estado</mat-label>
                <input matInput type="text" formControlName="state" [(ngModel)]="address.uf">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Bairro</mat-label>
                <input matInput type="text" formControlName="neighborhood" [(ngModel)]="address.bairro">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Complemento</mat-label>
                <input matInput type="text" formControlName="addressComplement">
            </mat-form-field>
    </form>
    <div class="create-account">
        <button (click)="registerUser()">Criar conta</button>
    </div>
    <div class="already-has-account">
        <p>Já possui uma conta? <a (click)="navigateToLogin('login')">Login</a></p>
    </div>
</div>