

<div class="cartao">
    <h1 class="titulo"><b>Conte-nos mais sobre o seu carro:</b></h1>

    <div class="container">

    
    <mat-form-field appearance="fill">
        <mat-label>Qual é a quilometragem do seu carro?</mat-label>
        <input matInput placeholder="Ex. 50.000" [(ngModel)]="car.quilometragem" mask="separator.0" thousandSeparator="." suffix=" km" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Fale um pouco mais sobre seu carro:</mat-label>
        <input matInput placeholder="Ex. Novo, unico dono.." [(ngModel)]="car.description" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label> Por quanto você quer vender o seu carro?</mat-label>
        <input matInput placeholder="Ex. 60.000,00" [(ngModel)]="car.price" mask="separator.0" thousandSeparator="." prefix="R$ " required>
    </mat-form-field>

</div>
   
    <mat-grid-list cols="2" rowHeight="100px">

        <mat-grid-tile>

            <input type="button" class="botao-voltar" value="Voltar" (click)="navigate('sell-car02')" >

        </mat-grid-tile>

        <mat-grid-tile>

            <input type="button" class="botao-pequeno" value="Continuar" (click)="continue()">

        </mat-grid-tile>
    </mat-grid-list>

</div>
