@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.nav-bg {
    background-color: rgb(246, 24, 77, 1);

}

.navigation {
    height: 100px;
}

#menu{
    margin: 0px;
    padding: 0px;
}

.nav-item{
    margin-right: 30px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.nav-item a{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.nav-item a:hover{
    transition: 0.3s;
}

.title{
    font-weight: 900;
    color:white;
    margin-left:20px;
    text-shadow: 0px 2px 5px #565656;
}

.title:hover{
    color:white;
}